*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
}
.rotated-text1{
    transform: rotate(270deg);
}
.rotated-text2{
    transform: rotate(90deg);
}
